<h2><%= t('menu.collections') %></h2>
<div id="collections">
  <% %w{macarons winter_chic2011 fall2011 ss2011 boudoir winter_chic2010 winter2010 fall2010 summer2010 spring2010}.each do |token| %>
    <% collection = t("collections.index.#{token}") %>
    <% text_color =  t("collections.text_color.#{token}") %>
    <% background_color =  t("collections.background_color.#{token}") %>
    
    <div class="collection-thumb">
      <%= link_to collections_show_path(:name => token), {:title => collection, :class => 'boxgrid captionfull', :style => "color: #{text_color};"} do %>
        <%= image_tag "/images/collections/index/#{token}.jpg", {:alt => collection} %>
        <div class="cover boxcaption" style="background-color: <%= background_color %>"><%= collection %></div>
      <% end %>
    </div>
    
  <% end %>
</div>

<div id="pagination">
  <h2><%= link_to '« Collections', collections_path %></h2>
</div>

<script>
  $(function () {
  	//Full Caption Sliding (Hidden to Visible)
  	$('.boxgrid.captionfull').hover(function(){
  	  $("img", this).stop().animate({opacity:0},{queue:false,duration:200});
  	}, function() {
  		$("img", this).stop().animate({opacity:1.0},{queue:false,duration:200});
  	});
  });
</script>
