<% product = t("collections.#{@collection}.p#{@id}") %>
<% collection_name = t("collections.index.#{@collection}").capitalize %>
<% related_pics = product[:related_pics] || {} %>
<% n_related_pics = related_pics.keys.length %>

<h2 id="collection-name"><%= link_to '« ' + collection_name, collections_show_path(:name => @collection, :id => @id) %></h2>

<div id="details" name="details">
  <div id="etsy"><%= link_to t('fields.buy_etsy'), product[:etsy_link], {:class => 'etsy', :title => t('fields.buy_etsy_title')} %> (<span id="price"><%= product[:price] %></span>)</div>
  <div id ="pic-title-container">
    <h3 id="pic-title"><%= product[:title] %></h3>
  </div>
  <p id="pic-description" class="text"><%= product[:long_description] %></p>
</div>

<div id="related-pics" class="hidden">
  <% link_to "#details", {:title => product[:title]} do %>
    <%= image_tag "/images/collections/#{@collection}/pic/p#{@id}.jpg", {:alt => product[:title]} %>
  <% end %>
  
  <% 1.upto(n_related_pics) do |n| %>
    <% title = related_pics["p#{n}".to_sym] %>
    <% link_to "#details", {:title => title} do %>
      <%= image_tag "/images/collections/#{@collection}/related/p#{@id}/pic/p#{n}.jpg", {:alt => title} %>
    <% end %>
  <% end %>
</div>

<div id="large-pic">
  <% link_to collections_show_path(:name => @collection, :id => @id), {:class => 'large-pic', :title => collection_name} do %>
    <%= image_tag "/images/collections/#{@collection}/pic/p#{@id}.jpg", :alt => product[:title] %>
  <% end %>
</div>

<div id="credits">
  <div><%= t('photograph', {:name => product[:photograph]}) %></div>
  <div><%= t('model', {:name => product[:model]}) %></div>
</div>

<script>
  $(function () {
    // Resize related pics to appear as thumbnails
    $('#related-pics img').each(function () {
      var img = $(this);
      var maxHeight = 60;
      var factor = img.height() / maxHeight;
      img.css({width: (img.width() / factor) + 'px', height: maxHeight});
    })
    
    $('#related-pics').removeClass('hidden');
    
    // Mouse hover behavior
    $('#related-pics img').mouseenter(function () {
      $('#large-pic img').attr('src', $(this).attr('src'));
    });
  });
</script