<% product = t("collections.#{@collection}.p#{@id}") %>

<h2 id="collection-name"><%= link_to t("collections.index.#{@collection}").capitalize, collections_show_path(:name => @collection, :id => @id), {:title => @collection} %></h2>
<h3 id="pic-title"><%= product[:title] %></h3>
<h4 id="etsy"><a class="etsy" href="<%= product[:etsy_link] %>"><%= t('fields.buy_etsy') %></a> (<span id="price"><%= product[:price] %></span>)</h4>
<p id="pic-description" class="text"><%= product[:description] %></p>
<p><%= link_to t('back.collection'), collections_show_path(:name => @collection, :id => @id) %></p>

<% link_to collections_show_path(:name => @collection, :id => @id), {:class => 'large-pic', :title => t('back.collection')} do %>
  <%= image_tag "/images/collections/#{@collection}/med/p#{@id}.jpg", :alt => product[:title] %>
<% end %>

<div id="details">
  <h3><%= t('fields.more_pics') %></h3>

</div>