<% scope = "collections.#{@collection}.p#{@id}" %>
<% title = t("title", :scope => scope) %>
<% description = t("description", :scope => scope) %>

<h2 id="collection-name"><%= link_to t("collections.index.#{@collection}").capitalize, collections_show_path(:name => @collection, :id => @id), {:title => @collection} %></h2>
<h3 id="pic-title"><%= title %></h3>
<p id="pic-description"><%= description %></p>
<p><%= link_to t('back.collection'), collections_show_path(:name => @collection, :id => @id) %></p>

<% link_to collections_show_path(:name => @collection, :id => @id), {:class => 'large-pic', :title => t('back.collection')} do %>
  <%= image_tag "/images/collections/#{@collection}/med/p#{@id}.jpg", :alt => title %>
<% end %>

<div id="details">
  <%= link_to t('details.etsy'), t('etsy_link', :scope => scope), {:class => 'etsy'} %>
  
  <table>
    <tbody>
      <tr>
        <th><%= t('details.price') %></th>
        <td><%= t('price', :scope => scope) %></td>
      </tr>
    </tbody>
  </table>
</div>