<% product = t("collections.#{@collection}.products.p#{@id}") %>
<% collection_name = t("collections.index.#{@collection}").capitalize %>
<% related_pics = product[:related] || {} %>
<% n_related_pics = related_pics.keys.size %>
<% availability = product_availability(t("collections.#{@collection}.availability")) %>

<h2 id="collection-name"><%= link_to collection_name, collections_show_path(:name => @collection, :id => @id) %></h2>

<h3 id="pic-title"><%= product[:title] %></h3>
<div id="less-details">
  <%= link_to t('collections.back_to_collection'), collections_show_path(:name => @collection, :id => @id) %>
</div>

<div id="details" name="details">
  <p id="pic-description" class="text"><%= product[:description] %></p>
  <% unless availability.empty? %>
    <p id="product-availability"><%= raw "#{t('stores.availability')} #{availability}" %></p>
  <% end %>
  
  <div id="related-pics" class="hidden">
    <% link_to "#details", {:title => product[:title]} do %>
      <%= image_tag "/images/collections/#{@collection}/slideshow/p#{@id}.jpg", {:alt => product[:title]} %>
    <% end %>

    <% 1.upto(n_related_pics) do |n| %>
      <% title = related_pics["p#{n}".to_sym] %>
      <% link_to "#details", {:title => title} do %>
        <%= image_tag "/images/collections/#{@collection}/related/p#{@id}/p#{n}.jpg", {:alt => title} %>
      <% end %>
    <% end %>
  </div>

  <%= link_to t('fields.buy_etsy'), product[:etsy_link], {:class => 'etsy', :title => t('fields.buy_etsy_title')} %>
</div>

<div id="large-pic"><% link_to collections_show_path(:name => @collection, :id => @id), {:class => 'large-pic', :title => collection_name} do %><%= image_tag "/images/collections/#{@collection}/slideshow/p#{@id}.jpg", :alt => product[:title] %><% end %></div>

<div id="credits">
  <div><%= t('photograph', {:name => product[:photograph]}) %></div>
  <div><%= t((product[:model][/,/] ? 'models' : 'model'), {:name => product[:model]}) %></div>
</div>

<script>
  $(function () {
    $('#related-pics a').smoothScroll();
  });

  (function () {
    var n = $('#related-pics img').length;

    // Resize related pics to appear as thumbnails
    $('#related-pics img').load(function () {
      var img = $(this);
      var maxHeight = 60;
      var factor = img.height() / maxHeight;
      img.css({width: (img.width() / factor) + 'px', height: maxHeight});
      n--;
      if (n === 0) { $('#related-pics').removeClass('hidden'); }
    });
  })();
  
  $(function () {
    // Mouse hover behavior
    $('#related-pics img').mouseenter(function () {
      $('#large-pic img').attr('src', $(this).attr('src'));
    });
  });
</script