<% @id ||= 1 %>
<% current_product = t("collections.#{@collection}.products.p#{@id}") %>
<% products_keys = t("collections.#{@collection}.products").keys.sort_by {|k| k.to_s[/[0-9]+/].to_i} %>
<% index = products_keys.index("p#{@id}".to_sym) + 1%>

<h2 id="collection-name"><%= t("collections.index.#{@collection}") %></h2>

<h3 id="pic-title"><%= current_product[:title] %></h3>

<div id="more-details">
  <%= link_to t('collections.more_details'), collections_showpic_path(:name => @collection, :id => @id), {:id => 'more-details-link', :title => t('collections.more_details_title')} %>
</div>

<div id="collection">
  <% products_keys.each do |key| %>
    <%
        n = key.to_s[/[0-9]+/]
        product = t("collections.#{@collection}.products.#{key}") %>
  
    <%= link_to collections_showpic_path(:name => @collection, :id => n), {:title => product[:title]} do %>
      <%= image_tag "/images/collections/#{@collection}/slideshow/p#{n}.jpg", :alt => product[:description], :title => product[:title], 'data-price' => product[:price], 'data-etsy-link' => product[:etsy_link], 'data-link' => collections_showpic_path(:name => @collection, :id => n) %>
    <% end %>
  <% end %>
</div>
<% photographs = []; t("collections.#{@collection}.products").each{|name, product| photographs << product[:photograph]}; photographs = photographs.sort.uniq %>
<% models = []; t("collections.#{@collection}.products").each{|name, product| models << product[:model]}; models = models.sort.uniq %>

<div id="credits">
  <div><%= t((photographs.size > 1 ? 'photographs' : 'photograph'), {:name => photographs.join(', ')}) %></div>
  <div><%= t((models.size > 1 ? 'models' : 'model'), {:name => models.join(', ')}) %></div>
</div>

<script>
  Galleria.loadTheme('/javascripts/galleria/src/themes/arnela/galleria.classic.js');
  
  $(function () {
    
    $('#collection').galleria({
  
      idle_time: Math.pow(2, 31) - 1, // indefinitely (galleria does not allow not setting a timeout)
      show_info: false,
      show_counter: false,
      width: 750,
      transition: 'fade',
      thumb_quality: true,
      show: <%= (index.to_i - 1).to_json %>,
      
      on_image: function(img,thumb) {
        var data = this.getData(this.getIndex());
        var original = $(data.original);
        // var price = original.data('price');
        // var etsyLink = original.data('etsy-link');

        $('#pic-title').text(data.title);
        //$('#pic-description .text').text(data.description);
        $('#more-details-link').attr('href', original.data('link'));
        //$('#etsy a').attr('href', etsyLink);
        //$('#price').text(price);
      },
      
      extend: function () {
        var that = this;
        
        //this.bindTooltip( this.get('images'), <%= raw t('collections.more').to_json %>);
        
        $(document).bind('keydown', function (e) {
          if (e.target.type == 'textarea' || e.target.type == 'input') { return true; }
  
          if (e.keyCode == 39) { that.next(); return false; }
          else if (e.keyCode == 37) { that.prev(); return false; }
        });
      }
    });
  });

</script>
