<% scope = "collections.#{@collection}.p#{@id}" %>
<% title = t("title", :scope => scope) %>
<% description = t("description", :scope => scope) %>

<h2><%= link_to t("collections.index.#{@collection}").capitalize, collections_show_path(:name => @collection, :id => @id), {:title => @collection} %> &gt; <%= title %></h2>
<%= link_to t('back.collection'), collections_show_path(:name => @collection, :id => @id) %>
<h3><%= description %></h3>

<% link_to collections_show_path(:name => @collection, :id => @id), {:class => 'large-pic', :title => t('back.collection')} do %>
  <%= image_tag "/images/collections/#{@collection}/med/p#{@id}.jpg", :alt => title %>
<% end %>

<div id="details">
  <table>
    <tbody>
      <tr>
        <th><%= t('details.price') %></th>
        <td><%= t('price', :scope => scope) %></td>
      </tr>
    </tbody>
  </table>
</div>