<ul>
  <li>
    <% if controller_name == 'collections' %>
      <%= t('menu.collections') %>
    <% else %>
      <%= link_to_unless_current t('menu.collections'), :collections %>
    <% end %>
  </li>
  <li>
    <% if controller_name == 'stores' %>
      <%= t('menu.stores') %>
    <% else %>
      <%= link_to_unless_current t('menu.stores'), :stores %>
    <% end %>
  </li>
  <li>
    <%= link_to_unless_current t('menu.about'), :about %>
  </li>
  <li>
    <%= link_to_unless_current t('menu.blog'), 'http://blog.arnela.ca' %>
  </li>
</ul>
