<ul>
  <li>
    <%= link_to 'Collections', :collections %>
  </li>
  <li>
    <%= link_to 'Boutiques', :stores %>
  </li>
  <li>
    <%= link_to t('menu.about'), '/home/about' %>
  </li>
  <li>
    <%= link_to 'Blogue', 'http://blog.arnela.ca' %>
  </li>
  <li>
    <%= link_to 'Collections', :collections %>
  </li>
</ul>