<!DOCTYPE html>
<html>
<head>
  <title>Arnela Pandzic design | <%= t("title.#{controller_name}.#{action_name}", {:title => @title}) %> </title>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.2r1/build/reset-fonts-grids/reset-fonts-grids.css' %>
  <%= stylesheet_link_tag 'base', 'app' %>

  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' %>
</head>
<body>

  <div id="doc" class="yui-t7">
    <div id="hd">
      <h1>Arnela Pandzic design</h1>
    </div>
    
    <div class="yui-g">
      <div id="main-menu">
        <%= render :partial => './menu' %>
      </div>
    </div>
    
    <div id="bd">
      <div class="yui-g">
        <%= yield %>
      </div>
    </div>
    <div id="ft"><p>© 2010 | <%= toggle_locale_link %></p></div>
  </div>

</body>
</html>
