<!DOCTYPE html>
<html>
<head>
  <title>Arnela Pandzic design | <%= t("title.#{controller_name}.#{action_name}", {:title => @title}) %> </title>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.2r1/build/reset-fonts-grids/reset-fonts-grids.css' %>
  <%= stylesheet_link_tag 'base', 'app' %>

  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', '/javascripts/galleria/src/galleria.js' %>
</head>
<body>

  <div id="doc" class="yui-t7">
    <div id="hd">
      <h1><%= link_to 'Arnela Pandzic design', root_path, {:class => 'logo'} %></h1>
      <div id="main-menu">
        <%= render :partial => './menu' %>
      </div>
    </div>
    
    <div id="bd">
      <div class="yui-g">
        <%= yield %>
      </div>
    </div>
    <div id="ft">
      <% link_to 'http://etsy.com/arnela', {:title => t('visit_etsy.title')} do %>
        <%= image_tag("/images/#{t('visit_etsy.image')}", {:alt => t('visit_etsy.description')}) %>
      <% end %>
      <p>© 2010 | <%= toggle_locale_link %></p>
      
    </div>
  </div>

</body>
</html>
