<!DOCTYPE html>
<html>
<head>
  <title>Arnela Pandzic design | <%= t("title.#{controller_name}.#{action_name}", {:title => @title}) %> </title>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.2r1/build/reset/reset-min.css', 'http://yui.yahooapis.com/2.8.2r1/build/fonts/fonts-min.css' %>
  <%= stylesheet_link_tag 'base', 'app' %>

  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', '/javascripts/galleria/src/galleria.js' %>
</head>
<body>
  
  <div class="wrapper">
    <div id="hd">
      <div class="site-content">
        <h1 id="logo">
          <%= link_to 'Arnela Pandzic', root_path, {:title => t('home')} %>
        </h1>
        <div id="main-menu">
          <%= render :partial => './menu' %>
        </div>
      </div>
    </div>
  
    <div id="bd">
      <div class="site-content">
        <%= yield %>
      </div>
    </div>
  
    <div class="push"></div>
  </div>
  
  <div id="ft">
    <div class="site-content">
      <%= link_to t('visit_etsy.link'), 'http://etsy.com/arnela', {:title => t('visit_etsy.title')} %>
      <p>© 2010 | <%= toggle_locale_link %></p>
    </div>
  </div>

</body>
</html>
